extends layout

block content
    .jumbotron
        .container
            h1 About Nodejs!
            p Fast, unopinionated, minimalist web framework for Node.js
            p
                a.btn.btn-primary.btn-lg(href='#', role='button') Learn more