doctype html
html
    head
        title=error.status + ' ' + message
        link( href="stylesheets/bootstrap.min.css", rel="stylesheet" )
        link( href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css", rel="stylesheet" type="text/css")
        link( href='http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic', rel='stylesheet', type='text/css')
        link( href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800', rel='stylesheet', type='text/css')
        link( rel='stylesheet', href='/stylesheets/style.css')
    body
        .container
            .jumbotron
                h1= error.status + ' ' + message
                pre #{error.stack}
                p
                    a.btn.btn-primary.btn-lg(href='/', role='button') Back Home
