extends ../layout
block content    
    .container
        h2 Sign In
    hr
    .container
        form.form-horizontal(action='../user/login', method='POST', name="userForm" )
            div.form-group
                label.col-sm-2.control-label(for='username') Username:
                .col-sm-10
                    input#username.form-control(type='text', placeholder='Username', name="username" , value="nodejs")                     
            div.form-group
                label.col-sm-2.control-label(for='password') Password:
                .col-sm-10
                    input#password.form-control(type='password', placeholder='password', name="password", value="123456")                                          
            div.form-group
                .col-sm-offset-2.col-sm-10
                    button.btn.btn-primary(type='submit', ) Login        
